html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

header {
  display: flex;
}

header img {
  padding-left: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: auto;
}

span {
  color: gray;
  font-weight: lighter;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 1.3rem;
  margin: auto;
}

ul li {
  margin: 1rem;
}

ul li:last-child {
  margin-right: 1.5rem;
}

li a {
  text-decoration: none;
  color: black;
}

.banner {
  display: flex;
  background-color: lightgray;
}

.banner img {
  width: 60%;
  height: 500px;
  padding: 2rem 1rem;
}

.text-box {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 24px;
}

.content {
  font-size: 1.2rem;
}

.button button {
  color: white;
  background-color: dimgray;
  width: 100%;
  padding: .5rem;
  font-size: 1.1rem;
}

.article-layout {
  height: 34.4rem;
}

.article-box {
  margin: 32px 0 32px 24px;
}

.article-flex {
  display: flex;
}

.featured-article {
  width: 60%;
  padding-right: 24px;
  height: 100%;
}
.featured-article img {
  height: auto;
  width: 100%;
}

.read-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 34.4rem;
}

.top-article {
  display: flex;
}

.middle-article {
  display: flex;
}

.bottom-article {
  display: flex;
}

.article-content {
  height: 10.9rem;
  margin: auto;
}

.article-content p {
  padding: .5rem 0;
}

.article-image {
  width: 33%;
}

.article-image img {
  height: 85%;
}

.courses {
  background-color: lightgray;
  padding: 2rem 4.5rem;
}

.course-padding {
  padding: .5rem 1rem;
}

.course-list h3:first-child {
    padding-top: 2rem;
    text-align: center;
}

.course-box-top {
  display: flex;
}

.course-box-bottom {
  display: flex;
}

.flex-item {
    background-color: white;
    width: 33%;
    margin: 2rem;
}

.flex-item img {
  width: 100%;
  height: auto;
}

.flex-item h3 {
  padding-top: 1rem;
}

.flex-item h3, p {
  padding-left: 1rem;
}

.thesis h2 {
  text-align: center;
  margin: 2rem auto;
}
