html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Arvo', serif;
}

header {
  display: flex;
}

.mobile-only {
  display: none;
}

header img {
  padding-left: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: auto;
}

span {
  color: cornflowerblue;
  font-weight: lighter;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: 1.3rem;
  margin: auto;
}

ul li {
  margin: 1rem;
}

ul li:last-child {
  margin-right: 1.5rem;
}

li a {
  text-decoration: none;
  color: cornflowerblue;
}

.banner {
  display: flex;
  background-color: cornflowerblue;
  padding: 2rem 1.5rem;
}

.banner img {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
}

.image-container {
  width: 60%;
  height: auto;
}

.text-box {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1.5rem;
}

.content {
  font-size: 1.2rem;
  color: floralwhite;
  padding-left: 1.5rem;
}

.button button {
  color: white;
  background-color: orangered;
  width: 100%;
  padding: .5rem;
  font-size: 1.1rem;
  border-radius: .7rem;
}

.article-layout {
  height: auto;
}

.article-box {
  margin: 2rem 0 2rem 1.5rem;
}

.article-flex {
  display: flex;
}

.featured-article {
  width: 60%;
  padding-right: 1.5rem;
  height: 100%;
}
.featured-article img {
  height: auto;
  width: 100%;
}

.read-more {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
}

.article-content h4 {
  margin: 0;
}

.article-content p {
  margin: 0.5rem 0;
}

.top-article {
  display: flex;
}

.middle-article {
  display: flex;
  padding: 2rem 0;
}

.bottom-article {
  display: flex;
}

.article-content {
  height: auto;
  margin: auto;
  width: 65%;
}

.article-content p {
  padding: .5rem 0;
}

.article-image {
  width: 33%;
  height: auto;
  padding-right: 2rem;
}

.article-image img {
  width: 100%;
  height: auto;
}

.courses {
  background-color: cornflowerblue;
  padding-right: 4.5rem;
  padding-left: 4.5rem;
}

.course-padding {
  padding: .5rem 1rem;
}

.course-list h3:first-child {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
  color: black;
}

.course-box-top {
  display: flex;
}

.course-box-bottom {
  display: flex;
}

.flex-item {
    background-color: white;
    width: 33%;
    margin: 2rem;
    border: .2rem solid white;
}

.flex-item img {
  width: 100%;
  height: auto;
}

.flex-item h3 {
  padding-top: 1rem;
}

.flex-item h3 {
  padding-left: 1rem;
}

.flex-item p {
  padding-left: 1rem;
}

.thesis {
  display: flex;
  border-bottom: 1px solid gray;
}

.thesis-title h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
  color: black;
}

.video {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem 1.5rem 1.5rem 1.5rem;
}

video {
  width: 100%;
}

.video-content h3 {
  margin-top: 1.5rem;
}

.video-content p {
  margin: .5rem 0 2rem 0;
}

.see-more {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.see-more img {
  width: 14rem;
  margin-top: 2rem;
  padding: 1rem 1rem;
  padding-top: 0;
}

.top-thesis {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom-thesis {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.thesis-content h3 {
  font-size: 1.5rem;
}

footer {
  display: flex;
}

.left-footer {
  display: flex;
  align-items: center;
  width: 100%;
}

.left-footer p {
  margin-left: .3rem;
}

.right-footer {
  display: flex;
  align-items: center;
}

.right-footer a {
  text-decoration: none;
  margin: 0 1rem;
  color: black;
}

@media only screen and (max-width: 550px) {
  .left, .right {
    display: none;
  }

  .mobile-only {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
